<h2>Bienvenido a Trajano</h2>
<p>Registrate o inicia sesión</p>
<div>
  {{!-- login google y facebook --}}
  <a href="/auth/login">Login</a>
  <a href="/auth/signup">Signup</a><br><br>
  <a href="/">Atrás</a>
</div>