<div class="full-screen-container">
  <section class="login-main">
    <section class="login-top-section">
      <a href="/"><img class="img-icon-login" src="../images/Trajano-icon" alt="Trajano icon"></a>
      <h2 class="login-text">Bienvenido a Trajano</h2>
      <a href="/"><img class="img-icon" src="../images/close" alt="Trajano icon"></a>
    </section>
    <section class="login-bottom-section">
      <p>Registrate o inicia sesión</p>
      <div class="login-signup-container">
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Signup</a>
      </div>
    </section>

  </section>
</div>