<div class="nav-left-section">
  <h2 class="h2-home">Bienvenido a Trajano!</h2>
  <h3>Su registro finalizó con éxito!!</h3>
  <p>Haga click <a href="/auth/login">aquí</a> para poder iniciar sesión</p>
</div>