<div class="full-screen-container">
  <section class="login-main login-main-spec">

    <h2 class="h2-home">Bienvenido a Trajano!</h2>

    <section class="login-bottom-section">
      <h3>Su registro finalizó con éxito!!</h3>
      <p class="center-text">Haga click <a href="/auth/login">aquí</a> para poder iniciar sesión</p>

    </section>

  </section>
</div>