<div class="full-screen-container">
  <section class="login-main login-main-spec">

    <section class="login-top-section">
      <a href="/"><img class="img-icon-login" src="../images/Trajano-icon" alt="Trajano icon"></a>
      <h2 class="login-text">Inicia Sesión</h2>
      <a href="/"><img class="img-icon" src="../images/close" alt="Trajano icon"></a>
    </section>

    <form action="/auth/login" method="POST" class="form-container">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" placeholder="JonSnow">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Your password">
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}
      <button>Login</button>
    </form>

    <section class="login-bottom-section">
      <p class="">
        Aun no tienes una cuenta?
      </p>
      <a href="/auth/signup">Registrate</a>
      <a class="google-login" href="/auth/google">
        <p id="google-login-text">Entrar con Google</p>
      </a>
    </section>
  </section>

</div>
