<div class="full-screen-container">
  <section class="login-main login-main-spec">

    <section class="login-top-section">
      <a href="/"><img class="img-icon-login" src="../images/Trajano-icon" alt="Trajano icon"></a>
      <h2 class="login-text">Inicia Sesión</h2>
      <a href="/"><img class="img-icon" src="../images/close" alt="Trajano icon"></a>
    </section>

    <form action="/auth/login" method="POST" class="form-container" autocomplete="off">
     
        
      <input class="input username-input" id="username" type="text" name="username" placeholder="Nombre de Usuario">
      <input class="input password-input" id="password" type="password" name="password" placeholder="Contraseña">

      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}
      <button class="btn login-btn">Login</button>
    </form>

    <section class="login-bottom-section">
      <p class="">
        Aun no tienes una cuenta?
      </p>
      <a href="/auth/signup">Registrate</a>
      <a class="google-login" href="/auth/google">
        <p id="google-login-text">Entrar con Google</p>
      </a>
    </section>
  </section>

</div>