<h2>Login</h2>

<form action="/auth/login" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <button>Login</button>

  <p class="account-message">
    Aun no tienes una cuenta?
    <a href="/auth/signup">Registrate</a>
  </p>

  <div>
    <a href="/auth/google">Login With Google</a>
  </div>
  <a href="/auth/access">Atrás</a>
</form>