<div class="nav-left-section">
  <h2 class="h2-home">Ya casi hemos terminado!</h2>
  <p>Por favor, revise su correo electrónico para terminar con el registro</p>
  <a href="/auth/login">Atrás</a>
</div>