<div class="full-screen-container">
  <section class="login-main login-main-spec">


    <h2 class="h2-home">Ya casi hemos terminado!</h2>

    <section class="login-bottom-section">
      <p class="center-text">Por favor, revise su correo electrónico para terminar con el registro</p>
      <a href="/auth/login">Atrás</a>
    </section>


  </section>
</div>