<h2>¿Te apetece leer otro libro?</h2>
<h3>Nuestras sugerencias para ti:</h3>
<div id="genres-list">
  <p>Filtrar por genero:</p>
</div>
<div id="books-list"></div>
<script src="/javascripts/filterlist.js"></script>