<h1>{{title}}</h1>
<p>Home page</p>
<div>
  <div id="map"></div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBx2GmyouiTJKT1cnseLaV4I5LJDwp5oo8"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>