<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap" rel="stylesheet">
</head>

<body>

  {{!-- <nav>
    <a href="/users/user-dashboard/{{id}}">USER</a>
    <input type="text" placeholder="Buscar libro">
    <a href="/auth/access">REGISTRATE O LOGEATE</a>
  </nav> --}}

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>