@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Comfortaa', "Lucida Grande", Helvetica, Arial, sans-serif; }

body {
  padding: 0 0rem 0 0rem; }

a {
  color: #00B7FF; }

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem 0rem 2rem; }

.decorated-section {
  background-color: lightgrey;
  padding: 3rem;
  margin: 0 2rem;
  border-radius: 2rem; }

#map {
  box-sizing: border-box;
  height: 400px;
  border-radius: 2rem; }

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: lightgrey; }

.nav-left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%; }

#dynamic-input {
  box-sizing: border-box;
  width: 50vw;
  border: .1rem solid grey;
  border-radius: 1rem;
  height: 3rem;
  padding: 0 1rem;
  font-size: 1.2rem; }

.btn {
  border: .1rem solid grey;
  border-radius: 1rem;
  height: 3rem;
  padding: 0 1rem;
  font-size: 1.2em; }

.btn-register {
  min-width: 20rem; }

.btn-yellow {
  background-color: #FEE599; }

.full-screen-container {
  width: 100vw;
  height: 100vh;
  background-color: #FEE599;
  display: flex;
  justify-content: center;
  align-items: center; }

.h1-home, .h2-home {
  text-align: center; }

.h1-home {
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0; }

.img-icon {
  height: 5rem;
  object-fit: cover; }

.img-icon-login {
  height: 8rem;
  object-fit: cover; }

.login-text {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: 2rem; }

.google-login {
  color: white;
  background-color: red;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 30rem;
  margin: 1rem 0;
  font-size: 2rem; }

#google-login-text {
  text-decoration: none; }

.h2-home {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 3rem; }

.login-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60rem;
  height: 50vh;
  background-color: white;
  border-radius: 3rem; }

.login-main-spec {
  height: 60vh; }

.login-top-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

.login-bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem; }

.login-signup-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
  font-size: 3rem;
  width: 100%;
  padding: 0 8rem; }

#profile-image {
  width: 200px; }

/*# sourceMappingURL=style.css.map */