html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/////////////////////


@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap');

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Comfortaa', "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  padding: 0 0rem 0 0rem;
}

a {
  color: #00B7FF;
}


/////////////////////

.add-book {
  text-decoration: none;
  box-sizing: border-box;
  background-color: #FEE599;
  border: .2rem grey solid;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 30rem;
  margin: 1rem 0;
  font-size: 2rem;
  color: black; 
}

.add-book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align-flex {
  display: flex;
  align-items: center;
}

.book-counter{
  font-size: 3rem;
  font-weight: 700;
  padding-left: 1rem;
  color: grey;
}

.long {
  width: 40rem;
}

.decorated-section {
  background-color: lightgrey;
  padding: 3rem;
  margin: 0 2rem;
  border-radius: 2rem; 
}

.center-button{
  display: flex;
  justify-content: center;
}

#description-main {
  line-height: 1.5rem;
  font-size: 1.2rem;
}

#map {
  box-sizing: border-box;
  height: 400px;
  // margin: 0 5rem 0 5rem;
  // border: 1px solid black;
  border-radius: 2rem;
}

.btn {
  border: .1rem solid grey;
  border-radius: 1rem;
  height: 3rem;
  padding: 0 1rem;
  font-size: 1.2em;
}

.btn-dark{
  box-sizing: border-box;
  height: 5rem;
}

.btn-register {
  min-width: 20rem;
}

.btn-yellow {
  background-color: #FEE599;
}

.button-genre {
  border: none;
  background: none;
  color: white;
}

.dark-blue {
  background-color: #413B4A;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 3rem;
}

.dark-blue-thin {
  height: 3rem;
  width: 15rem;
  display: inline;
}

#dynamic-input {
  box-sizing: border-box;
  width: 50vw;
  border: .1rem solid grey;
  border-radius: 1rem;
  height: 5rem;
  padding: 0 1rem;
  font-size: 2rem;
}

#form-group {
  display: flex;
  flex-direction: column;
  align-content: center;
  div {
    width: 80rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px, solid black;
  }
  .input-field {
    width: 60rem;
  }
}

.full-screen-container {
  width: 100vw;
  height: 100vh;
  background-color: #FEE599;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-by-genre {
  text-align: center;
  margin-bottom: 1rem;
}

.h1-home, .h2-home {
  text-align: center;
}

.h1-home {
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0;
}

.img-icon {
  height: 5rem;
  object-fit: cover;
 }
 
 .img-icon-login {
   height: 8rem;
   object-fit: cover;
  }
 .img-icon-ui {
   height: 8rem;
   object-fit: cover;
  }
 

.login-text {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form-container {
  // border: 1px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  font-size:2rem;
}

#genres-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.google-login {
  background-color: blue;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 30rem;
  margin: 1rem 0;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.h2-home {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.img-form {
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.input {
  height: 3rem;
  width: 30rem;
  border: .2rem solid grey;
  border-radius: 1rem;
  margin-bottom: .6rem;
  font-size: 1.7rem; 
  text-align: center;
}

.input-field {
  height: 3rem;
  margin-left: 2rem;
  border-radius: 2rem;
  background-color: lightgrey;
  border: none;
  padding-left: 2rem;
  font-size: 1.5rem;
  font-family: 'Comfortaa', "Lucida Grande", Helvetica, Arial, sans-serif;
}

.login-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60rem;
  height: 50vh;
  background-color: white;
  border-radius: 3rem;
}

.login-main-spec {
  height: 60vh;
}

.login-top-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.login-bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
}

.login-btn {
  background-color: grey;
  color: white;
  font-size: 2rem;
  width: 20rem;
  height: 3rem;
  margin-bottom: 2rem;
}

.login-signup-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
  font-size: 3rem;
  width: 100%;
  padding:0 8rem;
}


.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: lightgrey;
}

.nav-left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.nav-logged-user{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: lightgrey;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.red {
  background-color: #CF2926;
  color: white;
}

.blue {
  background-color: #475AB2;
  color: white;
}

.search-field-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  label {
    margin-bottom: 1rem;
  }
}

.search-field {
  width: 50%;
  margin-bottom: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem 0rem 2rem;
}

.section-logged {
  box-sizing: border-box;
  border-radius: 2rem;
  border: .2rem solid grey;
  margin: 2rem 2rem 0 2rem;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  li{
    margin-bottom: 1rem;
  }
  h3{
    margin-bottom: 1.2rem;
    font-size: 2rem;
    font-weight: 700;
  }
  span{
    font-weight: 700;
  }
  ol{
    padding-left: 2rem;
  }
  ol>li{
    list-style: decimal;
  }
  a{
    text-align: center;
  }
}

.section-one{
  margin-top: 12rem;
  text-align: center;
  border: none;
  font-size: 1.5rem;
  h2{
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
  }
}

.selection-label {
  margin-right: 2rem;
}

#profile-image {
  width: 200px;
}