<h2>PERFIL DE USUARIO</h2>
<div>
  <form method="POST" action="/users/user-profile">
    <label for="">Nombre: </label><input type="text" placeholder="{{username}}">
    <input type="hidden" name="_id" value="{{id}}">
    <p> <input type="submit" value="done">
    </p>
  </form>
  <p><a href="/user-dashboard">Atras</a></p>
</div>