<h2>PANEL DE USUARIO</h2>
<div>
  <p>Nombre: {{this.username}}</p>
  <p> <a href="/users/user-profile">Editar Perfil</a>
    <a href="/users/user-collection">Colecctión de libros</a>
  </p>
  <p>
    <a href="/auth/logout">Cerrar sesión</a>
  </p>
  <p>
    <a href="/">Atras</a>
  </p>
</div>