<h2>Panel de usuario: </h2>
<p>Aquí podrás añadir tus libros a la colección de Trajano, gestionar tu perfil o elegir que te apetece</p>
<p> leer y donde podrás encontrarlo.</p>
<div>
  <h3>Tu perfil: </h3>
    Nombre: {{username}} <br>
    Apellidos: {{lastName}} <br>
    Email: {{email}} <br>
    Teléfono: {{phone}} <br><br>
    <a href="/users/user-profile">Editar Perfil</a> <br>
    <a href="/users/user-collection">Colecctión de libros</a> <br>
    <a href="/auth/logout">Cerrar sesión</a>
    <a href="/">Atras</a>

</div>